---
layout: default
title: Stats
activepage: stats
js: [ lodash.underscore.min.js, backbone-min.js, stats.js ]
---

<script type="text/template" id="ServerTemplate">
    <h3>Server</h3>
    <ul>
        <li><strong>Players:</strong> <%- players %></li>
        <li><strong>Tick:</strong> <%- tick.average %> ms</li>
        <li><strong>Ticks/Sec:</strong> <%- tickSec.average %> avg</li>
    </ul>
</script>

<script type="text/template" id="WorldTemplate">
    <h3><%- name %></h3>
    <ul>
        <li><strong>Tick: </strong><%- stats.worldTick.average %> ms</li>

        <li><strong>Entity Updates: </strong><%- stats.entitiesRegular.average %> ms</li>
        <li><strong>Tile Entity Updates: </strong><%- stats.entitiesTile.average %> ms</li>

        <!--<li><strong>Entity Updates:</strong> <span id="world0_entityUpdate"></span> ms</li>
        <li><strong>Tile Entity Updates:</strong> <span id="world0_tileEntityUpdate"></span> ms</li>
        <li><strong>Block Updates:</strong> <span id="world0_blockUpdate"></span> ms</li>-->

        <li><strong>Entities: </strong><%- Math.floor(stats.worldLoadedEntities.average) %> avg</li>
        <li><strong>Tile Entities: </strong><%- Math.floor(stats.worldLoadedTileEntities.average) %> avg</li>
    
        <li><strong>Measurements: </strong> <%- Math.floor(stats.measurements.average) %> avg</li>
    </ul>
    
    <% if (enabled && stats.byEntity && stats.byEntity.length > 0) { %>
        <h4>Top 10 Entities:</h4>
        <ul>
        <% _.forEach(stats.byEntity, function(entity) { %><li><strong><%= entity.name.replace(/^Entity(.+)$/, '$1') %>: </strong><%- entity.average %> ms</li><% }); %>
        </ul>
    <% } %>
</script>

<h3>Stats:</h3>

<p>Below are some basic realtime stats for the server. This page is a work in progress. <code>ms</code> = milliseconds.</p>

<p>When the server tick is 45ms or higher you will start feeling the server running slow. If the ticks/sec drops below 19 then the effects will become quite noticable.</p>

<p id="TimeoutMessage" style="display: none; color: #900; font-weight: bold;"></p>

<div class="row">
    <div id="ServerStats" class="span3"></div>
    <div id="Worlds"></div>
</div>