<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}Better Than Solo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ page.basepath }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ page.basepath }}css/site.css" rel="stylesheet" media="screen">
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% if page.js %}
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
        {% for file in page.js %}
            {% capture firstchar %}{{ file | truncate: 1, '' }}{% endcapture %}
            {% capture first7char %}{{ file | truncate: 7, '' }}{% endcapture %}
            {% capture first8char %}{{ file | truncate: 8, '' }}{% endcapture %}
            {% if firstchar == '.' or firstchar == '/' or first7char == 'http://' or first8char == 'https://' %}
                <script src="{{ file }}"></script>
            {% else %}
                <script src="{{ page.basepath }}js/{{ file }}"></script>
            {% endif %}
        {% endfor %}
	{% endif %}
</head>

<body>
    <div class="container">
        <h1>Better Than Solo</h1>
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class=" {% if page.activepage == 'home' %}active{% endif %}"><a href="{{ page.basepath }}./">Home</a></li>
                    <li class=" {% if page.activepage == 'rules' %}active{% endif %}"><a href="{{ page.basepath }}rules.html">Rules</a></li>
                    <li class=" {% if page.activepage == 'mods' %}active{% endif %}"><a href="{{ page.basepath }}mods.html">Mods</a></li>
                    <li class=" {% if page.activepage == 'stats' %}active{% endif %}"><a href="{{ page.basepath }}stats.html">Stats</a></li>
                    <li><a href="http://server.betterthansolo.com/overview/">Overviewer</a></li>
                    <li><a href="http://server.betterthansolo.com/livemap/">Live Map</a></li>
                    <li><a href="http://www.sargunster.com/btwforum/viewtopic.php?f=13&t=6122">Forum Thread</a></li>
                </ul>
            </div>
        </div>
        
        {{ content }}
        
        <div class="footer">&copy; 1982-2056 Better Than Solo Council of Elders.</div>
    </div>
</body>
</html>
